build/
build_lsdde/
build_ps1/
out/
include/lba_table.inc
include/lba_table.h
psyq/
include/psyq/
disk/SLPS_015.56
disk/extract/
disk/reference/
nonmatchings/
ctx.c
ctx.c.m2c
*auto.*.txt
backups/
*.original
*.bak
*.tmp
Notes.txt
tools/run_and_log.ps1
config/original_layout.xml
config/test_layout.xml
config/license.bin
